  body {
    background-color: rgb(192, 206, 200);
    margin: 0;
    font-family: Arial, sans-serif; /* Optional: Schriftart */
  }
  
  /* General Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Root Variables */
  :root {
    --primary-color: #3d8f92; /* Green */
    --secondary-color: #e8f5e9; /* Light Green */
    --text-color: #333333; /* Dark Grey */
    --background-color: #ffffff; /* White */
    --hover-color: #3d8f92; /* Darker Green */
    --font-family: 'Arial', sans-serif;
  }
  


  .card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 30px;
    margin-bottom: 50px;
  }

  .nav-pills .nav-link {
    border-radius: 8px; /* Abgerundete Tabs */
    color: #333; /* Standardfarbe */
    background-color: #f8f9fa; /* Helles Grau als Hintergrund */
    margin-bottom: 10px; /* Abstand zwischen Tabs */
    font-size: 18px; /* Schriftgröße */
  }
  
  .nav-pills .nav-link.active {
    background-color: #6c757d; /* Aktive Tab-Farbe */
    color: white; /* Textfarbe für aktive Tabs */
  }

  .nav-pills .nav-link:hover {
    background-color: #6c757d;  /* Hintergrundfarbe beim Hover */
    color: #ffffff; /* Schriftfarbe beim Hover */
    transform: scale(1.05); /* Leichte Vergrößerung beim Hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatteneffekt */
  }




/* FAQ Section */
.faq-section {
  padding: 50px 20px;
}

.faq-section h6 {
  color: var(--primary-color);
  font-weight: bold;
}

.faq-section h2 {
  color: var(--text-color);
  margin-bottom: 20px;
}

.accordion {
  max-width: 800px;
  margin: 0 auto;
}

.accordion-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  font-weight: bold;
  padding: 15px;
  transition: background-color 0.3s ease;
}

.accordion-button:hover {
  background-color: var(--hover-color);
  color: #ffffff;
}

.accordion-button:not(.collapsed) {
  background-color: var(--primary-color);
  color: #ffffff;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: rotate(90deg);
}

.accordion-collapse {
  border-top: 1px solid var(--primary-color);
}

.accordion-body {
  background-color: var(--secondary-color);
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .faq-section {
    padding: 20px 10px;
  }

  .accordion {
    width: 100%;
  }
}
