body {
    font-family: 'Arial', sans-serif;
    background: #F1F0E8;
    color: #333;
}

.studentview-page {
    padding: 50px;
}

/* Navbar Styling */
.navbar-custom {
    background: #EEE0C9;
    border-bottom: 1px solid #DDD;
}

.catalog-hero {
    text-align: center;
    padding: 50px;
    background: #FDFDFD;
    border-bottom: 1px solid #DDD;
}

.hero-btn {
    background: #96B6C5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.course-card {
    background: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.course-card:hover {
    transform: scale(1.02);
}